*{
    transition: 0.2s;
}
html{
    scroll-behavior: smooth;
}
#bi{
    background-image:url(https://wallpapercave.com/wp/wp5794831.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: black;
    height: 100vh;
    animation: bg_move 10s linear infinite;
}
@keyframes bg_move {
    0%{
        background-image:url(https://wallpapercave.com/wp/wp5794831.jpg);
    }
    25%{
        background-image:url(https://wallpapercave.com/wp/wp5794831.jpg);
    }
    50%{
        background-image:url(https://wallpapercave.com/wp/wp5475510.jpg);
    }
    75%{
        background-image: url(https://wallpapercave.com/wp/wp6822406.jpg);
    }
    100%{
        background-image:url(https://wallpapercave.com/wp/wp5794831.jpg);
    }
}
nav{
    border: 12px;
    border-color: black;
    box-shadow: 0 3px 2px rgba(255, 236, 226, 0.6);
}
li a {
    display: block;
    color: white;
    padding: 10px  16px;
    text-decoration: none;
    /*border-right: 1px solid #bbb;*/
}
.con{
    color: black;
    padding:1px;
    border-radius: 5px;
    border-color: black;  
    width: 100%;
    position: fixed;
    top: 0;
}
.photu{
    display: block;
    display: inline;
    font-size: 17px;
    font-weight: bolder;
}
.photu:hover{
    color: black;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image{
    border: 3px solid  #70d0e19c;
    margin: 11px 7px 5px 15px ;
    box-sizing:content-box;
    border-radius: 5px;
    box-shadow: 0 0 10px #61cde0b5;
    /*display: flex;
    flex-wrap: wrap;*/
    width:18%;
    /*height:20%*/;
}
.image1{
    margin: 11px 3px 2px 15px ;
    display: flex;
    flex-wrap: wrap;
    width:450px;
    height:150px;
    border-radius: 15px;
    border: 3px solid  #70d0e19c;
    box-shadow: 0 0 10px #61cde0;
    display: flex;
    flex-wrap: wrap;
    box-sizing:content-box;
}
#float1{
    float: left;
}
#float2{
    float: inline-start;
    width: 17%;
    height:20%;
}
/*https://th.bing.com/th/id/OIP.1_hXtG4jSft7V2RcCKOl8wHaLv?pid=ImgDet&rs=1*/

.heading{
    color: white;
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}
nav ul li{
    list-style: none;
}

.image:hover, .image1:hover{
    transform: scale(1.1);
}

section{
    height: 100vh;
}
